<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this admin_user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
	
  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>
	
	
  <div class="field">
    <%= f.label :role_id %><br />
		<%= f.select :role_id, @roles , {:prompt => 'Select Role'} %>  </div>
	</div>
	
	<div>
		<%= f.fields_for :profile, @profile  do |profile| %>
			<%= render "profiles/form", :f => profile  %>
		<% end %>
	</div>
	
	<div>
		<%= f.fields_for :address, @address  do |address| %>
			<%= render "addresses/form", :f => address  %>
		<% end %>
	</div>
	
  <div class="actions">
    <%= f.submit %>
  </div>
	
	
<% end %>
